<script setup lang="ts">
{{#if defineProp}}
defineProps({
  solid: {
    type: Boolean,
    required: true,
  },
});
{{/if}}
</script>

<template>
{{#each icons}}
  {{~#if ../defineProp~}}
  <div
      style="display: flex"
      :class="$attrs.class"
      v-if="
      {{~#if solid~}}
      solid
      {{~else~}}
      !solid
      {{~/if~}}
      ">
  {{~/if~}}
    {{{this.svg}~}}
  {{~#if ../defineProp~}}
  </div>
  {{/if~}}
{{/each}}
</template>

<style scoped>

</style>